<h1 class="animated fadeIn">{{ villano.nombre | uppercase}} <small>{{villano.aparicion  | date:"y"}}</small></h1>
<hr>
<div class="row">
    <div class="col-md-4">
        <img [src]="villano.img" [alt]="villano.nombre" class="img-fluid">
        <br><br>

        <a [routerLink]="['/villanos']" class="btn btn-outline-danger" href="#">regresar</a>

    </div>
    <div class="col-md-8">
        <h3>
            {{ villano.nombre }}
        </h3>
        <hr>
        <p>
            {{ villano.bio}}
        </p>
        <div>
            <img *ngIf="villano.casa == 'DC'" class="img-logo" src="/assets/img/dc.png" alt="dc">
            <img *ngIf="villano.casa == 'Marvel'" class="img-logo" src="/assets/img/marvel.png" alt="dc">
        </div>

    </div>

</div>