<h1>
    Villanos <small>marvel y DC</small>
</h1>
<div class="card-columns">
    <div class="card animated fadeIn fast" *ngFor="let heroe of Villanos; let i = index">
        <img class="card-img-top" [src]="heroe.img" [alt]="heroe.nombre">
        <div class="card-body">
            <h5 class="card-title">{{ heroe.nombre }}</h5>
            <h6 class="card-title">{{ heroe.casa }}</h6>
            <p class="card-text">{{ heroe.bio}}.</p>


            <button (click)="info(i)" type="button" class="btn btn-outline-primary btn-block">
            ver mas .. 
          </button>


        </div>
    </div>




</div>